{% extends "layout.html" %}

{% block nav %}
        <ul>
          <li><a href="/login">KIRJAUDU</a></li>
          <li><a href="/register">REKISTERÖIDY</a></li>

        </ul>
{% endblock %}

{% block content %}
<h2>TIETOA SIVUSTOSTA</h2>
Tämä on Tietokantasovellus-kurssille tehty harjoitustyö.<br>
<br>
Korttihuutokauppa on nettihuutokauppasovellus, jossa on mahdollista tarjota huudettavaksi urheilukortteja, kuten jääkiekkokortteja. <br>
<br>

Tarjoaja asettaa kortin tyypin lisäksi, paikkakunnan, kunnon, aloitushinnan ja päättymispäivän. 
Lisäksi tarjoajan on asettava otsikko ja kuvaus kortista sekä laitettava kaksi kuvaa kortista. 

<br>

Potentiaalinen ostaja voi hakea aktiivisia huutokauppoja paikkakunnan, kortin tyypin ja kunnon perusteella ja tehdä korotuksia sekä lähettää palautetta. 
<br>


{% endblock %}