<!DOCTYPE html>
<html lang="fi">
 
  <head>
    <link rel="stylesheet" href="/static/main.css" />

    <title>KORTTIHUUTOKAUPPA</title>

  </head>

  <body>
    <div class="header">
      <h1>KORTTIHUUTOKAUPPA</h1>

    </div>
    
      <nav>
      {% block nav %}
        <ul>
          <li> <b> KIRJAUTUNUT: {{ username }} </b> </li>
          <li><a href="/">ETUSIVU</a></li>
          
          <li><a href="/new">UUSI</a></li>
          <li><a href="/search">HAKU</a></li>
          <li><a href="/profile">PROFIILI</a></li>
          <li><a href="/messages">VIESTIT</a></li>
          <li><a href="/feedback">ANNA PALAUTETTA</a></li>

          {% if admin %}
          <li><a href="/admin">YLLÄPITÄJÄ</a></li>
          {% endif %}

          <li><a href="/logout">ULOSKIRJAUS</a> </li>
          

          
        </ul>
      {% endblock %}
      </nav>
      
    <div class="basic">
        {% block content %}{% endblock %}
    </div>
      

  </body>
</html>