{% extends "layout.html" %}

{% block nav %}
        <ul>
          <li><a href="/register">REKISTERÖIDY</a></li>
          <li><a href="/about">TIETOA</a></li>

        </ul>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<h2>KIRJAUDU</h2>
<br>
    <form action="/login" method="POST">
        <p>Tunnus:<br>
        <input type="text" name="username"></p>
        <p>Salasana:<br>
        <input type="password" name="password"></p>
        <input type="submit" value="Kirjaudu">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
<br>    
{% endblock %}