{% extends "layout.html" %}

{% block nav %}
        <ul>
            <li><a href="/login">KIRJAUDU</a></li>
            <li><a href="/about">TIETOA</a></li>

        </ul>
{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<h2>REKISTERÖIDY</h2>
<br>
    <form action="/register" method="POST" onsubmit="return check(this)">
        <p>Anna haluamasi tunnus (4-10 merkkiä):<br>
        <input type="text" name="username"></p>
        <p>Sähköpostiosoitteesi:<br>
        <input type ="email" name="mail"></p>
        <p>Anna uusi salasanasi (4-10 merkkiä):<br>
        <input type="password" name="password"></p>
        <p>Salasanasi uudestaan:<br>
        <input type="password" name="password2"></p>
        <input type="submit" value="Lähetä">
        <input type="reset" value="Tyhjennä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <script>
        function check(form) {
            if (form.username.value.length > 10) {
                alert(" on liian pitkä");
                return false;
            }
            if (form.username.value.length < 4) {
                alert(" on liian pitkä");
                return false;
            }
            if (form.password.value.length > 10) {
                alert(" on liian pitkä");
                return false;
            }
            if (form.password.value.length < 4) {
                alert(" on liian lyhyt");
                return false;
            return true;
            }
        }
    </script>
<br>    
{% endblock %}